// Colors
$primary-1: #FBFBFB;
$primary-2: #CC0000;

$secondary-1: #332D2D;
$secondary-2: white;

// Fonts
$font-title: "Work Sans", Sans-serif;
$font-text: "Inter", Sans-serif;

// Border
$border-navbar-hover: 4px solid $primary-2;